table {
  border-collapse: collapse;
  border: 2px solid rgb(140 140 140);
  font-family: sans-serif;
  font-size: 0.8rem;
  letter-spacing: 1px;
}

caption {
  caption-side: bottom;
  padding: 10px;
  font-weight: bold;
}

thead,
tfoot {
  background-color: rgb(228 240 245);
}

th,
td {
  border: 1px solid rgb(160 160 160);
  padding: 8px 10px;
  min-height: 72px;
}

td:last-of-type {
  text-align: center;
}

tbody > tr:nth-of-type(even) {
  background-color: rgb(237 238 242);
}

tfoot th {
  text-align: right;
}

tfoot td {
  font-weight: bold;
}

button {
  margin: 3px;
  min-width: 80px;
}

.button {
  margin: 3px;
  min-width: 80px;
}

/* .top-bar {
  display: flex;
  font-size: 2em;
  overflow: auto;
} */

.top-bar .icon {
  max-width: 100px;
}

.top-bar .logout {
  float: right;
  font-size: 1.5em;
}

.top-bar div {
  display: flex;
}